html, body {
    background-image: url(../image/bg2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


/* left bar css */
.left-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #141414;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 25px;
}

.left-bar li a {
    display: block;
    color: #666;
    padding: 20px 46px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.left-bar h5 {
    color: white;
    text-transform: uppercase;
    padding: 1px 46px;
    font-family: sans-serif;
}

.left-bar .logoleftbar {
    width: 90%;
    padding: 0px 13px 20px;
}
.left-bar li a.active {
    background-color: #111;
    color: white;
}

.left-bar li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

.toppbar ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 1% 100%;
    overflow: hidden;
    background-color: #141414;
    top: 0;
    width: 100%;
}

.toppbar li {
    float: left;
}

.toppbar li a:hover {
    background-color: #111;
}

::-webkit-scrollbar { 
    display: none; 
}



